*, *::before, *::after {
    box-sizing: border-box;
}
.wrap{
    max-width: 1024px;
    margin: 0 auto;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.995);
    
}
.header h1 a{
    background-image: url(../assets/logo_w\(null\).svg);
    margin-left: 42px;
    background-repeat: no-repeat;
    width: 120px;
    height: 24px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li{
    padding: 18px 16px;
    border-bottom: 3px solid transparent;
}
.menu li:hover{
    border-bottom: 3px solid #f56c23;
}
.menu li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.menu-list{
    display: none;
}
@media(max-width:410px){
    .menu-list{
        display: block;
    }
    .menu{
        max-height: 0px;
        overflow: hidden;
        transition: max-height, 1s;
        position: absolute;
        z-index: 100;
        top: 66px;
        left:0;
        right: 0;
        background: rgba(0,0,0,0.75);
        flex-wrap: wrap;
    }
    .menu li{
        width: 100%;
        text-align: center;
        border-bottom: 0px solid transparent;
    }
    .menu li a:hover{
        color: #F56C23;
        border-bottom: 0px solid transparent;
    }
    .menu li a :active{
        color: #F56C23;
        border-bottom: 0px solid transparent;
    }
    .menu-show .menu{
        max-height: 500px;
    }
}
.banner{
    background-image: url(../assets/header_desktop.png);
    height: 420px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2,p{
    color: #ffffff;
}
.banner h2{
    font-size: 36px;
}
.banner .banner-content {
    padding: 0px 42px;
    background-color: rgba(0, 0, 0, 0.35);
}
.banner h2 {
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 36px;
 }
.banner p {
    text-align: center;
    padding-bottom: 26px;
    color: white;
    font-size: 16px;
    line-height: 1.5;
}
@media(max-width:375px){
    .banner{
        background-image: url(../assets/header_mobile.png);
    }
    .banner-content{
        width: 300px;
    }
    .banner .banner-content{
        padding: 0;
    }
    .banner-content span{
        white-space: normal;
    }
}
.secret{
    display: flex;
    flex-direction: column;
    background-color: #eee9e7;
}
.secret h2{
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    color: #3D1101;
    margin: 50px 12px 31px 13px;
}
.secret h2::before,.secret h2::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 20%;
    height: 1px;
    background-color: #979797;
}
.secret h2::before{
    left: 0;
    margin-left: 18%;
}
.secret h2::after{
    right: 0;
    margin-right: 18%;
}
.secret ul{
    display: flex;
    text-align: center;
}
.secret ul li{
    justify-content: center;
    align-items: center;
    width: 33.3333%;
    padding: 1%;
    text-align: center;
}
.secret img{
    border-radius: 50%;
}
.secret h3{
    color: #3D1101;
    margin: 20px 0 11px 0;
    font-size: 18px;
}
.secret p{
    color: #3D1101;
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
    padding: 0 5%;
    margin-left: 10px;
    margin-bottom: 50px;
}
@media(max-width:375px){
    .secret h2::before,.secret h2::after{
        display: none;
    }
    .secret ul{
        flex-direction: column;
    }
    .secret ul li{
        width: 100%;
    }
    
}
.chef{
    background-color: #3D1101;
    display: flex;
}
.chef img{
    margin-left: 42px;
    height: 100%;
}
.chef-content{
    width: 410px;
    margin: 81px 0px 80px 25px;
}
.chef-content h3,h4,p{
    color: #efe9e7;
}
.chef-content h3{
    font-size: 20px;
    line-height: 32px;
}
.chef-content h4{
    font-size: 16px;
    margin-bottom: 16px;
}
.chef-content p{
    line-height: 1.2;
}
@media(max-width:787px){
    .chef-content{
        margin: 50px 20px 0 25px;
    }
    .chef img{
        margin-left: 5px;
    }
}
@media(max-width:375px){
    .chef{
        flex-direction: column;
    }
    .chef img{
        margin: 0;
    }
    .chef-content{
        width: 240px;
        margin: 30px 31px 30px 50px;
    }
}
.review{
    background-color: #eee9e7;
}
.review h2{
    font-size: 24px;
    text-align: center;
    padding: 50px 0 32px 0;
    color: #3D1101;
}
.review ul{
    display: flex;
    align-items: center;
}
.review img{
    margin-left: 32px;
    border-radius: 50%;
    float: left;
    margin-right: 13px;
}
.review h3{
    margin-top: 25px;
    color: #3D1101;
    font-size: 18px;
}
.review p{
    color: #3D1101;
    text-align: left;
    margin: 22px 42px 16px 110px;
}
.review h4{
    color: #3D1101;
    margin: 0 0 50px 210px;
}
@media(max-width:787px){
    .review img{
        margin-left: 5px;
    }
    .review p{
        margin: 22px 20px 16px 85px;
    }
    .review h4{
        margin: 0 0 53px 150px;
    }
}
@media(max-width:375px){
    .review ul{
        flex-direction: column;
    }
    .review h4{
        margin: 0 0 53px 240px;
    }
}
.index-map{
    background: rgba(250,250,250,0.70);
    padding:3% 0%;
}
.index-map h3{
    text-align: center;
    color: #3D1101;
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.map-form{
    display: flex;
    justify-content: center;
    margin: 0% 2% 5% 2%;
}
.map2{
    display: none;
}
.map-form form{
    width: 98%;
    margin-left: 2%;
}
.map-form label{
    display: block;
    margin: 10px 0px;
    color: #3D1101;
    font-size: 14px;
}
.map-form .text{
    width: 100%;
    padding: 1% 3%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
}
.map-form input:focus{
    border-color: #F56C23;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px #F56C23;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px #F56C23)
}
.map-form span{
    font-size: 14px;
    color: #3D1101;
    margin: 0% 1%;
}
.map-form .button{
    float: right;
    margin-top: 70px;
}
@media (max-width:787px){
    .map1{
        display: block;
    }

    .map2{
        display: none;
    }
}
@media (max-width:375px){

    .map-form{
        width:96%;
        flex-direction: column;
        align-items: center;
        margin: 0% 2% 5% 2%;
    }

    .map-form img{
        width: 98%;
        margin-bottom: 2%;
    }

    .map-form form{
        width: 98%;
        margin-left: 0%;
    }

}
.footer {
    background: rgb(239, 233, 231);
  }
  .footer-list {
    display: flex;
    padding: 3%;
  }
  .footer-list > li {
    width: 29.3333%;
    margin: 0 2%;
    line-height: 1.3;
  }
  .footer-list h3 {
    margin: 25px 0;
    font-size: 24px;
  }
  .footer-list p{
    color: #3D1101;
  }
  @media (max-width: 768px) {
    .footer-list {
      padding: 1%;
    }
    .footer-list > li {
      width: 31.3333%;
      margin: 0 1%;
      line-height: 1.3;
    }
  }
  @media (max-width: 568px) {
    .footer-list { 
        flex-direction: column;
      }
    .footer-list > li {
      width: 94%;
      margin: 0 3%;
    }
  }
.contact > li {
    margin-left: 8%;
    list-style-type: disc;
}
.media {
    float: right;
}
.media p {
    font-size: 36px;
    text-align: right;
}
.media h3 a {
    display: inline-block;
    background: url(../assets/logo_l\(null\).svg);
    background-repeat: no-repeat;
    width: 245px;
    height: 49px;
}
@media (max-width: 768px) {
    .media h3 a {
      background-size: 183.75px 36.75px;
      background-position: right center;
    }
}
@media (max-width: 568px) {
    .media h3 a {
      display: inline-block;
      width: 245px;
      height: 49px;
    }
}
