/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
.wrap{
    background-color: #000000;
    max-width: 1024px;
    margin: 0 auto;
}
.header{
    background: 
    rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header h1{
    background-image: url(../assets/logo_w\(null\).svg);
    margin: 16px 16px 16px 16px;
    background-repeat: no-repeat;
    width: 120px;
    height: 24px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li{
    padding: 18px 16px;
    border-bottom: 3px solid transparent;
}
.menu li:hover{
    border-bottom: 3px solid #f56c23;
}
.menu li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.showmenu{
    display: none;
}
.banner{
    background: url("../assets/header_desktop.png"), radial-gradient(ellipse, #150303, #000000);
    background-repeat: no-repeat;
    background-position: center center;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.banner .banner-content {
    padding: 0px 42px;
    background-color: rgba(0, 0, 0, 0.35);
}
.banner h2 {
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 36px;
 }
.banner p {
    text-align: center;
    padding-bottom: 26px;
    color: white;
    font-size: 16px;
    line-height: 1.5;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3D1101;
    padding: 50px 0;
    background: #eee9e7;
}

.content .content-text{
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.content-text::before,.content-text::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 50%;
    height: 1px;
    background-color: #979797;
}
.content-text::before{
    left: 0;
    margin-left: -50%;
}
.content-text::after{
    right: 0;
    margin-right: -50%;
}
.content-item{
    display: flex;
    text-align: center;
}
.content-item li{
    width: 33.3333%;
    padding: 1%;
    text-align: center;
}
.content-item img{
    border-radius: 50%;
}
.content-item h3{
    margin:20px 0 11px 0;
    font-size: 18px;
    color: #3D1101;
}
.content-item p{
    text-align: left;
    line-height: 1.2;
    padding: 0 5%;
    margin-left: 10px;
    color: #3D1101;
}
.chef{
    background-color: #3D1101;
    display: flex;
    height: 460px;
}
.chef-img{
    height: 100%;
    width: 47%;
    margin-left: 42px;
}
.chef-content{
    width: 48%;
    text-align: left;
}
.chef-content h3,h4,p{
    color: #efe9e7;
    margin-left: 25px;
    
}
.chef-content h3{
    font-size: 20px;
    line-height: 32px;
    margin-top: 81px;
   
}
.chef-content h4{
    font-size: 16px;
    margin-bottom: 16px;
    
}
.chef-content p{
    font-size: 16px;
    text-align: left;
}
.review{
    background-color: #eee9e7;
}
.review h2{
    color: #3D1101;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.review-list{
    display: flex;
}
.review-list img{
    float: left;
    margin-right: 13px;
    margin-left: 42px;
    border-radius: 50%;
}
.review-list h3,p{
    color: #3D1101;
}
.review-list h3{
    font-size: 18px;
    margin-bottom: 22px;
    margin-top: 30px;
}
.review-list p{
    font-size: 16px;
    text-align: left;
    margin-left: 122px;
}
.review-list h4{
    color: rgba(61,17,0,0.75);
    margin: 16px 0px 50px 250px;
   
}
.booking{
    background-color: #fafafa;
}
.booking h2{
    color: #3D1101;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 40px;
}
.booking-content{
    display: flex;
}
.booking-map-img{
    margin: 0px 20px 50px 38px;
    
}
.form-button{
    margin-left: 100px;
}
.success,.cancel{
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, .8);
    border: none transparent;
    background-color: gray;
    text-decoration: none;
    border-radius: 2px;
}
.cancel:hover{
    background: #b2afaf;
}
.success{
    background: #f56c23;
}
.success:hover{
    background: #f49c6d;
}
.vegetarian{
    display: flex;
}
.yes{
    display: flex;
}
.no{
    display: flex;
}

.footer{
    background: #eee9e7;
    display: flex;
}
.about,.contact{
    color: #3D1101;
}
.about{
    
}
.about h3{
    font-size: 24px;
    margin: 50px 145px 16px 43px;
}
.about p{
    font-size: 16px;
    color: #3D1101;
    margin-left: 43px;
    margin-bottom: 50px;
}
.contact{
    margin-top: 50px;
}
.contact h3{
    font-size: 24px;
    margin-bottom: 16px;
}
.contact ul{
    list-style: disc;
    margin-left: 21px;
}
.logo{
    text-align: end;
}
.logo h1 {
    background-image: url(../assets/logo_l\(null\).svg);
    background-repeat: no-repeat;
    width: 245px;
    height: 49px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    margin: 54px 42px 22px 150px;
}
.logo-link{
    margin-right: 42px;
}
.logo-link i{
    margin-left: 11px;
}




