*, *::before, *::after {
    box-sizing: border-box;
}
.wrap{
    max-width: 1024px;
    margin: 0 auto;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.995);
}
.header h1 a{
    background-image: url(../assets/logo_w\(null\).svg);
    margin-left: 42px;
    background-repeat: no-repeat;
    width: 120px;
    height: 24px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li{
    padding: 18px 16px;
    border-bottom: 3px solid transparent;
}
.menu li:hover{
    border-bottom: 3px solid #f56c23;
}
.menu li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.menu-list{
    display: none;
}
@media(max-width:410px){
    .menu-list{
        display: block;
    }
    .menu{
        max-height: 0px;
        overflow: hidden;
        transition: max-height, 1s;
        position: absolute;
        z-index: 100;
        top: 66px;
        left:0;
        right: 0;
        background: rgba(0,0,0,0.75);
        flex-wrap: wrap;
    }
    .menu li{
        width: 100%;
        text-align: center;
        border-bottom: 0px solid transparent;
    }
    .menu li a:hover{
        color: #F56C23;
        border-bottom: 0px solid transparent;
    }
    .menu li a :active{
        color: #F56C23;
        border-bottom: 0px solid transparent;
    }
    .menu-show .menu{
        max-height: 500px;
    }
}
.banner{
    background-image: url(../assets/header_desktop.png);
    height: 420px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2,p{
    color: #ffffff;
}
.banner h2{
    font-size: 36px;
}
.banner .banner-content {
    padding: 0px 42px;
    background-color: rgba(0, 0, 0, 0.35);
}
.banner h2 {
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 36px;
 }
.banner p {
    text-align: center;
    padding-bottom: 26px;
    color: white;
    font-size: 16px;
    line-height: 1.5;
}
@media(max-width:375px){
    .banner{
        background-image: url(../assets/header_mobile.png);
    }
    .banner-content{
        width: 300px;
    }
    .banner .banner-content{
        padding: 0;
    }
    .banner-content span{
        white-space: normal;
    }
}
.login{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(239, 233, 231);
  }
  
.login img{
    margin-bottom: 1%;
}

.login p{
    font-size:16px;
    text-align: center;
    margin-bottom: 35px;
    color: #3D1101;
    font-weight: bold;
}

.login .form-login{
    width: 30%;
    padding: 0% 2%;
    border-top: 3px solid #F56C23;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
}

.login .form-login-legend {
    font-size: 18px;
    font-weight: 800;
    line-height: 2;
    text-align: center;
    border-bottom: none;
    color: #3D1101;
}

.login form label{
    color: #3D1101;
}

.login form i{
    position: absolute;
    color: #3D1101;
    z-index: 5;
}

.login .icon-email{
    margin:10px 9px;
}

.login .icon-locket{
    margin:10px 9px;
}

.login .pure-form-stacked .form-login-text{
    width: 100%;
    margin-bottom: 2% 0%;
    padding-left: 30px;
    border-radius: 0px;
}

.login .pure-form-stacked .form-login-text:focus{
    border-color: #F56C23;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px #F56C23;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px #F56C23;
}


.login a{
    color: #F56C23;
    font-size: 14px;
    display: block;
    margin-bottom: 10%;
}

.login a:hover{
    opacity: 75%;
}
  
.login .pure-form-stacked .form-login-submit{
    background: #c9c9c9;
    width: 48%;
}
  
.login .pure-form-stacked .form-login-submit2{
    width: 48%;
    background: #F56C23;
  }

@media (max-width:430px){
    .login .form-login{
        width: 96%;
        margin: 2%;
}
}
.footer {
    background: rgb(239, 233, 231);
  }
  .footer-list {
    display: flex;
    padding: 3%;
  }
  .footer-list > li {
    width: 29.3333%;
    margin: 0 2%;
    line-height: 1.3;
  }
  .footer-list h3 {
    margin: 25px 0;
    font-size: 24px;
    color: #3D1101;
  }
  .footer-list p{
    color: #3D1101;
  }
  @media (max-width: 768px) {
    .footer-list {
      padding: 1%;
    }
    .footer-list > li {
      width: 31.3333%;
      margin: 0 1%;
      line-height: 1.3;
    }
  }
  @media (max-width: 568px) {
    .footer-list { 
        flex-direction: column;
      }
    .footer-list > li {
      width: 94%;
      margin: 0 3%;
    }
  }
.contact > li {
    margin-left: 8%;
    list-style-type: disc;
    color: #3D1101;
}
.media {
    float: right;
}
.media p {
    font-size: 36px;
    text-align: right;
}
.media h3 a {
    display: inline-block;
    background: url(../assets/logo_l\(null\).svg);
    background-repeat: no-repeat;
    width: 245px;
    height: 49px;
}
@media (max-width: 768px) {
    .media h3 a {
      background-size: 183.75px 36.75px;
      background-position: right center;
    }
}
@media (max-width: 568px) {
    .media h3 a {
      display: inline-block;
      width: 245px;
      height: 49px;
    }
}