/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
.wrap{
    background-color: #000000;
    max-width: 1024px;
    margin: 0 auto;
}
.header{
    background: 
    rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header h1{
    background-image: url(../assets/logo_w\(null\).svg);
    margin: 16px 16px 16px 16px;
    background-repeat: no-repeat;
    width: 120px;
    height: 24px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li{
    padding: 18px 16px;
    border-bottom: 3px solid transparent;
}
.menu li:hover{
    border-bottom: 3px solid #f56c23;
}
.menu li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.showmenu{
    display: none;
}
.banner{
    background: url("../assets/header_desktop.png"), radial-gradient(ellipse, #150303, #000000);
    background-repeat: no-repeat;
    background-position: center center;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .banner-content {
    padding: 0px 42px;
    background-color: rgba(0, 0, 0, 0.35);
}
.banner h2 {
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 36px;
 }
.banner p {
    text-align: center;
    padding-bottom: 26px;
    color: white;
    font-size: 16px;
    line-height: 1.5;
}
.cart-content{
    display: flex;
    justify-content: space-between;
    padding: 50px 3%;
    background: #eee9e7;
    color:#3D1101;
}
.cart-content-menu{
    width: 23%;
    margin-right: 2%;
}
.cart-content-menu h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.cart-menu li{
    width: 80%;
    height: 35px;
    border-bottom: 2px solid #3D1101;  
}
.cart-menu li a{
    display: block;
    height: 100%;
    color: #3D1101;
    text-decoration: none;
    line-height: 2.2;
    padding-left: 5px;
}
.cart-menu li a:hover,.cart-menu li a:active{
    background: #3D1101;
    color: white;
}
.content-menu{
    width: 75%;
}
.content-menu a{
    color:#3D1101
}
.content-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-bar{
    width: 80%;
}
.search-bar input{
    width: 70%;
    height: 34px;
    border: 2px solid #3D1101;
    padding: 0;
}
.search-bar input:focus{
    font-size: 16px;
    background: #3D1101;
    color: white;
}
.search-bar button{
    width: 40px;
    height: 40px;
    border: none;
    background: #3D1101;
    color: white;
    padding: 0;
    cursor: pointer;
}
.content-bar a{
    width: 20%;
    font-size: 20px;
    line-height: 2;
}
.content-bar a:hover{
    opacity: 60%;
}
.hamburger{
    display: flex;
    flex-wrap: wrap;
}
.hamburger li{
    width: 31.33333%;
    margin: 0 1% 30px 1%;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    display: flex;
    flex-direction: column;
    position: relative;
}
.hamburger img{
    height: 120px;
}
.hamburger a{
    font-size: 25px;
    position: absolute;
    color: white;
    top: 5px;
    left: 5px;;
}
.hamburger li a:hover,.hamburger li .active{
    color: red;
}
.hamburger h3,.hamburger p, .hamburger span,.hamburger.addToCart{
    text-align: center;
}
.hamburger h3{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 5px 0;
}
.hamburger p{
    font-size: 12px;
    position: relative;
    margin-bottom: 30px;
}
.hamburger p::after{
    content: "";
    position: absolute;
    top: 150%;
    left: 25%;
    width: 50%;
    height: 1px;
    background-color: #3D1101;
}
.hamburger span{
    font-size: 20px;
}
.hamburger .addToCart{
    color: #F56C23;
    font-size: 16px;
    border: 2px solid #F56C23;
    padding: 5px;
    margin: 20px 5px;
    cursor: pointer;
}
.hamburger .addToCart:hover{
    background: #F56C23;
    color:white;
}
.hotsale{
    position: relative;
}
.box{
    width: 80px;
    height: 80px;
    background: #00cc99;
    clip-path: polygon(45% 0, 0 0, 100% 75%, 100% 40%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.box .rotate{
    font-size: 16px;
    font-weight: 600;
    color: white;
    transform: translate(10px,17px) rotate(38deg);
}
@media (max-width:768px) {
    .cart-content-menu{
        width: 35%;
    }
    .cart-menu li {
        width: 100%;
    }
    .content-bar a{
        width: 35%;
    }
    .hamburger li{
        width: 48%;
    }
}
@media (max-width:555px) {
    .hamburger{
        flex-direction: column;
        margin-left: 10px;
    }
    .hamburger li{
        width: 90%;
    }
    .cart-content-menu{
        width: 52%;
    }
    .content-bar a{
        margin-left: 10px;
        width: 15%;
    }
    .none{
        display: none;
    }
}
@media (max-width:390px){
    .cart-content{
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .cart-content-menu{
        width: 100%;
        margin-bottom: 20px;
    }
    .content-menu{
        width: 90%;
    }
    .content-bar a{
        position: absolute;
        top: 30px;
        right: 10px;
        font-size: 30px;
    }
    .search-bar{
        display: none;
    }
    .cart-menu h3{
        text-align: center;
    }
    .hamburger li{
        width: 100%;
        margin-left: 0px;
    }
}

.footer{
    background: #eee9e7;
    display: flex;
}
.about,.contact{
    color: #3D1101;
}
.about{
    
}
.about h3{
    font-size: 24px;
    margin: 50px 145px 16px 43px;
}
.about p{
    font-size: 16px;
    color: #3D1101;
    margin-left: 43px;
    margin-bottom: 50px;
}
.contact{
    margin-top: 50px;
}
.contact h3{
    font-size: 24px;
    margin-bottom: 16px;
}
.contact ul{
    list-style: disc;
    margin-left: 21px;
}
.logo{
    text-align: end;
}
.logo h1 {
    background-image: url(../assets/logo_l\(null\).svg);
    background-repeat: no-repeat;
    width: 245px;
    height: 49px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    margin: 54px 42px 22px 150px;
}
.logo-link{
    margin-right: 42px;
}
.logo-link i{
    margin-left: 11px;
}